<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>6526039301-dc7r2lh58le7qesvfh4pcseq9nj3in8i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.6526039301-dc7r2lh58le7qesvfh4pcseq9nj3in8i</string>
	<key>API_KEY</key>
	<string>AIzaSyCFIaBWEKlCLP2c0QPxMjzqqFwpa4JVa20</string>
	<key>GCM_SENDER_ID</key>
	<string>6526039301</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hehe.Grocery-List-App</string>
	<key>PROJECT_ID</key>
	<string>grocerylistapp-d86a4</string>
	<key>STORAGE_BUCKET</key>
	<string>grocerylistapp-d86a4.appspot.com</string>
	<key>GOOGLE_APP_ID</key>
	<string>1:6526039301:ios:b6e111df72032c57caf36c</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
</dict>
</plist>
